In [133]:
import numpy as np
import pandas as pd

In [134]:
df = pd.read_csv('electricity_cost_dataset - electricity_cost_dataset.csv')

In [135]:
df

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost
0,1360,Mixed-use,2519,69,52,188,1,72,1420
1,4272,Mixed-use,2324,50,76,165,65,261,3298
2,3592,Mixed-use,2701,20,94,198,39,117,3115
3,966,Residential,1000,13,60,74,3,35,1575
4,4926,Residential,5990,23,65,32,57,185,4301
...,...,...,...,...,...,...,...,...,...
9995,708,Commercial,1365,76,77,22,23,0,885
9996,2960,Residential,3332,22,72,100,47,54,3081
9997,3942,Commercial,2427,61,43,48,49,0,3325
9998,3211,Commercial,4639,72,73,105,55,0,2892
9999,2837,Commercial,3124,50,57,3,10,0,2603

In [136]:
x = df.iloc[:,0:8]
y = df['electricity cost']

In [137]:
x

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count
0,1360,Mixed-use,2519,69,52,188,1,72
1,4272,Mixed-use,2324,50,76,165,65,261
2,3592,Mixed-use,2701,20,94,198,39,117
3,966,Residential,1000,13,60,74,3,35
4,4926,Residential,5990,23,65,32,57,185
...,...,...,...,...,...,...,...,...
9995,708,Commercial,1365,76,77,22,23,0
9996,2960,Residential,3332,22,72,100,47,54
9997,3942,Commercial,2427,61,43,48,49,0
9998,3211,Commercial,4639,72,73,105,55,0
9999,2837,Commercial,3124,50,57,3,10,0

In [138]:
y

0       1420
1       3298
2       3115
3       1575
4       4301
        ...
9995     885
9996    3081
9997    3325
9998    2892
9999    2603
Name: electricity cost, Length: 10000, dtype: int64

In [139]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

In [140]:
x = pd.get_dummies(x, columns=["structure type"], drop_first=False)

In [141]:
x

,site area,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,structure type_Commercial,structure type_Industrial,structure type_Mixed-use,structure type_Residential
0,1360,2519,69,52,188,1,72,0,0,1,0
1,4272,2324,50,76,165,65,261,0,0,1,0
2,3592,2701,20,94,198,39,117,0,0,1,0
3,966,1000,13,60,74,3,35,0,0,0,1
4,4926,5990,23,65,32,57,185,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,708,1365,76,77,22,23,0,1,0,0,0
9996,2960,3332,22,72,100,47,54,0,0,0,1
9997,3942,2427,61,43,48,49,0,1,0,0,0
9998,3211,4639,72,73,105,55,0,1,0,0,0
9999,2837,3124,50,57,3,10,0,1,0,0,0

In [142]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [143]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [144]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"\nModel Evaluation:")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Model Evaluation:
Mean Absolute Error (MAE): 245.65
R-squared (R2): 0.92

In [145]:
new_data_point = X_test.iloc[0:1]
predicted_cost = model.predict(new_data_point)[0]
print(f"\nExample Prediction:")
print(f"Features of example data point:\n{new_data_point.iloc[0]}")
print(f"Predicted Electricity Cost: {predicted_cost:.2f} USD")
print(f"Actual Electricity Cost (for comparison): {y_test.iloc[0]:.2f} USD")

Example Prediction:
Features of example data point:
site area                     1447
water consumption             1000
recycling rate                  22
utilisation rate                69
air qality index               179
issue reolution time            65
resident count                   0
structure type_Commercial        0
structure type_Industrial        1
structure type_Mixed-use         0
structure type_Residential       0
Name: 6252, dtype: int64
Predicted Electricity Cost: 2655.23 USD
Actual Electricity Cost (for comparison): 2027.00 USD