In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [10]:
X = data.iloc[:,:4]
y = data['species']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
n_estimators_list = [25, 50, 75, 100, 150, 200, 250]
random_states = [20, 30, 40]

results = []

for n in n_estimators_list:
    for rs in random_states:
        model = RandomForestClassifier(n_estimators=n, random_state=rs)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        results.append({'n_estimators': n, 'random_state': rs, 'accuracy': acc})

results_df = pd.DataFrame(results)
results_df

    n_estimators  random_state  accuracy
0             25            20       1.0
1             25            30       1.0
2             25            40       1.0
3             50            20       1.0
4             50            30       1.0
5             50            40       1.0
6             75            20       1.0
7             75            30       1.0
8             75            40       1.0
9            100            20       1.0
10           100            30       1.0
11           100            40       1.0
12           150            20       1.0
13           150            30       1.0
14           150            40       1.0
15           200            20       1.0
16           200            30       1.0
17           200            40       1.0
18           250            20       1.0
19           250            30       1.0
20           250            40       1.0

In [15]:
best_result = results_df.loc[results_df['accuracy'].idxmax()]
print("Best Result:")
best_result

Best Result:

n_estimators    25.0
random_state    20.0
accuracy         1.0
Name: 0, dtype: float64